<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partial/head') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('./partial/navbar') %> <%- include('./partial/script') %>
  </body>
</html>
